<!DOCTYPE html>
<html>

    <head>
        <!-- head definitions go here -->
				<style>
			body {
  				background-image: ;
  				background-repeat: no-repeat;
 				background-attachment: fixed;
  				background-size: 100% 90%;
			}
			h4 {font-size: 35px; color:white;}
			h2 {font-size: 35px; color:orange;}
			h3 {font-size: 35px; color:red;}
			h1 {bottom:30px; font-size: 100px; color:green;}
			h5 {font-size: 35px; color:orange;}
			h6 {font-size: 35px; color:red;}
			h7 {font-size: 100px; color:purple;}
		</style>

    </head>
    <body>
		<marquee behavior="alternate";><h4>Time is {{server_time}}</h4></marquee>

		
		
		<marquee direction="down";><h1>BEZOS</h1></marquee>
		<marquee direction= "down";><h7> SMASH!!!</h7></marquee>
		
		<script>
				setTimeout( function(){
					document.body.background='https://media.giphy.com/media/u1tta4P28TMzkPKRQm/giphy.gif'},0);
				setTimeout( function(){
					document.body.background='https://media.giphy.com/media/3d01NemOfuEKiMzbLU/giphy.gif'},500);
				setTimeout( function(){
					document.body.background='https://media.giphy.com/media/VTyrKrgJ13jk4/giphy.gif'},1000);
				setTimeout( function(){
					document.body.background='https://media.giphy.com/media/10fTHeZVQug7hC/giphy.gif'},2500);
			setInterval( function(){
				setTimeout( function(){
					document.body.background='https://media.giphy.com/media/u1tta4P28TMzkPKRQm/giphy.gif'},0);
				setTimeout( function(){
					document.body.background='https://media.giphy.com/media/3d01NemOfuEKiMzbLU/giphy.gif'},500);
				setTimeout( function(){
					document.body.background='https://media.giphy.com/media/VTyrKrgJ13jk4/giphy.gif'},1000);
				setTimeout( function(){
					document.body.background='https://media.giphy.com/media/10fTHeZVQug7hC/giphy.gif'},2500);
				},3000);
		</script>
		
    </body>
	
</html>
