#grad1 {
    background-size: cover;
    background-color: purple; /* For browsers that do not support gradients */
    background-image: linear-gradient(to top, purple, lightblue);
    background-repeat: no-repeat;
}

.center
{
    background-image: url('https://media.giphy.com/media/kLmOg1tamSbmE9fAX7/giphy.gif'), linear-gradient(to bottom, lightgreen, darkviolet);
    background-position: top center, center; 
    background-repeat: no-repeat, no-repeat;
    width: 1000px;
    height: 1000px;
    margin: 0;
    position: absolute;
    top: 5%;
    left: 20%;
}

.center2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.container{
    position: absolute;
    top: 0%;
    left: 25%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container2 { 
    background-image: linear-gradient(to bottom, yellow, violet);
    border-radius: 25px;
    height: 125px;
    width: 300px;
    position: absolute;
    top: 48%;
    left: 42%;
}

.button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: yellow;
    background-color: darkviolet;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px lightgreen;
}

.button:hover {
    color: yellow;
    background-color: darkviolet;
}

.button:active {
    color: purple;
    background-color: yellow;
    box-shadow: 0 5px purple;
    transform: translateY(4px);
}

.bottom_left{
    position: absolute;
    top: 40%;
    left: 15%;

}

.mid_left{
    position: absolute;
    top: 25%;
    left: 15%;

}

.top_right{
    position: absolute;
    top: 10%;
    right: 15%;

}

.top_left{
    position: absolute;
    top: 10%;
    left: 15%;

}

.top_center{
    position: absolute;
    top: 15%;
    left: 30%;
    background-size: cover;
    background-image: linear-gradient(to top, darkviolet, lightblue);
    background-repeat: no-repeat
}
